<div class="jumbotron text-center">
  <h1 class="display-3">Body Mass Index Calculator</h1>
  <p class="lead">Use this amazing app to calculate your BMI</p>
  <p class="lead">
    <%= link_to 'Calculate your BMI', new_body_measure_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
